<html>
	<head>
		<title>Mesogip</title>
<style>
body{max-width: 800px;align:center; margins:auto}
pre{word-wrap:break-word;white-space: pre-wrap; border : 1px solid black; padding : 4px}
pre.trusted{border: 2px solid darkgreen;}
pre.disabled{border: 2px solid darkred;color:darkgrey}
form{display:inline-block}
textarea{min-width:200%}
</style>
	</head>
	<body>
		<p>
		You are connected as <b>{{ user.username }}</b>
{% if user.profile.is_admin %}
(admin)
{% endif %}
.

{% if user.profile.is_trusted %}

You are trusted.

{% else %}
<p>
<b>You are not (yet) trusted, and cannot access the cluster. Please ask an admin to approve your account (for now, you can prepare your keys, but you won't have the option to activate the wireguard peer or to sign the SSH certificate).</b>
</p>
{% endif %}
		</p>
<p>
Your login is <b>{{account}}</b>
</p>

<h1>Welcome to the Mesogip cluster</h1>
<p>
Welcome to the access page for our cluster. Once your admin approves your account, you will have access to the cluster. To access it, you'll have to setup a Wireguard connection:
</p>

<pre> $ wg genkey | tee privkey
kOiRH18jx35ARjZ8bvlP5mwlyXbP8b6EYVBwq0CUZHM= # this is your private key. Don't share it

$ wg pubkey < privkey
+4W5L+TtoiaUzjojUkhr1Y/3jEzgg7PH4AOrEo2+B3g= # this is your public key.

$ sudo nano /etc/wireguard/wg0.conf 
# We give you on this page the full wireguard configuration file when you add a key, including your assigned IP in the VPN, and the pubkey of the server. You need to put your private key in the file. 

$ sudo wg-quick up wg0 #starts the VPN
</pre>

To connect to the cluster, you'll also have to use a signed SSH certificate:
<pre>
$ cat .ssh/id_rsa.pub
ssh-rsa AAAAA... user@machine
# copy this into the form below.

$ echo > .ssh/id_rsa-cert.pub # filename should be the filename of the private key + "-cert.pub"
ssh-rsa-cert-v01@openssh.com AAAA...... user@machine
</pre>

Now you can connect ! 
<pre>$ ssh {{account}}@192.168.1.88
# this is a test machine, your home directory is not created yet
$ uid
uid=10005({{account}}) gid=5000(miners) groups=5000(miners)
</pre>

<h1>SSH Keys</h1>

{% for s in sshk %}
<p>
Your key
<pre>{{s.pubkey}}</pre>

{% if s.expdate > tomorrow %}

is valid until {{s.expdate}}:
<pre class="trusted">{{s.signedpubkey}}</pre>

{% else %}

is new, about to expire, or expired since {{s.expdate}}:
<pre class="disabled">{{s.signedpubkey}}</pre>


{% endif %}

<form action="delssh" method="POST">
	<input type="hidden" name="key" value="{{s.pubkey}}">
	{% csrf_token %}
	<input type="submit" value="Forget" title="This does not revoke the key, just removes it from this view. Contact us for revoking keys if your private key has been compromised."/>
</form>
{% if user.profile.is_trusted %}
<form action="extendsssh" method="POST">
        <input type="hidden" name="key" value="{{s.pubkey}}">
        {% csrf_token %}
        <input type="submit" value="Enable/Extend"/>
</form>

{% endif %}
</p>


{% endfor %}
<p>
<form action="addssh" method="POST">
    <label for="key">Add ssh key</label>
    <textarea name="key" value="" placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGBGRf… me@machine"></textarea>
  {% csrf_token %}
<input type="submit" value="Add"/>
</form>
</p>

<h1>WG Keys</h1>

{% for w in wgk %}
<p>
<pre title="For convenience, this is the full wg0.conf you can use directly with 'wg-quick up wg0' (just replace the private key)"
     {% if not w.active %}class="disabled" {% else %}class="trusted"{% endif %}
>
{{ w }}
</pre>

<form action="delwg" method="POST">
	<input type="hidden" name="key" value="{{w.pubkey}}">
	{% csrf_token %}
	<input type="submit" value="Remove"/>
</form>

{% if user.profile.is_trusted %}

<form action="enablewg" method="POST">
        <input type="hidden" name="key" value="{{w.pubkey}}">
        {% csrf_token %}
        <input type="submit" value="Enable/Disable"/>
</form>

{% endif %}
</p>

{% endfor %}
<p>
<form action="addwg" method="POST">
    <label for="key">Add wireguard key</label>
    <textarea name="key" value="" placeholder="1UwHNxmnKvNsXUM1RzpfMfyESh+/5BJQO6c1Bv45k14="></textarea>
  {% csrf_token %}
<input type="submit" value="Add"/>
</form>
</p>

{% if user.profile.is_admin %}

<h1> Admin </h1>

{% for u in us %}

<div>
{{u.username}}
{% if u.profile.is_admin %}
(admin)
{% else %}
<form action="makeadmin" method="POST">
    <input type="hidden" name="user" value="{{u.username}}">
    {% csrf_token %}
    <input type="submit" value="Make admin (cannot be undone)"/>
</form>
{% endif %}
{% if u.profile.is_trusted %}
(trusted)
{% endif %}
<form action="trust" method="POST">
    <input type="hidden" name="user" value="{{u.username}}">
    {% csrf_token %}
    <input type="submit" value="{% if u.profile.is_trusted %}Dist{% else %}T{% endif %}rust"/>
</form>
</div>

{% endfor %}

{% endif %}

</body>
</html>

